.instance-panel
  .container
    .col-md-12{:class => "text-center"}
      %h1= t(:service_directory)
      .form-group.col-md-8.container-form
        = form_tag(search_services_path, method: "get") do
          .inner-addon.left-addon
            %i.glyphicon.glyphicon-search
            %input.search-filter.form-control{:placeholder => t(:enter_service_name), :type => "text", data: {target: '#services_table'}}/
    .col-md-12.main-service-btn
      - if current_user.present?
        =link_to new_organization_service_path(current_user.roles.first.organization_id), class: "btn btn-primary" do
          %span=t(:create_service)
.content-pages.content-tabs
  .container
    .tab-content
      #services.tab-pane.active{:role => "tabpanel"}
        .row
          .col-md-12
            %table#services_table
              %colgroup
                %col{:width => "15%"}
                %col
                %col{:width => "10%"}
                %col{:width => "20%"}
                %col{:width => "10%"}
              %thead
                %tr
                  %th= t(:dateString)
                  %th= t(:service_name)
                  %th= ServiceVersion.human_attribute_name(:version_number)
                  %th= t(:author)
                  %th= t(:state)
              %tbody
                = render partial: "service", collection: @services
