.col-lg-4.text-center
  = image_tag("documenta.svg", size: "103x103", alt: "Nombre usuario")
  %h4= t(:document)
  %p
    = t(:document_option)
    %a{href: 'http://swagger.io/'} Swagger
.col-lg-4.text-center
  = image_tag("crea_prueba.svg", size: "103x103", alt: "Nombre usuario")
  %h4= t(:create_and_test)
  %p
    = t(:create_test_option)
  %br
  %h5
    = t(:create_option_tiny)
.col-lg-4.text-center
  = image_tag("codigo_fuente.svg", size: "103x103", alt: "Nombre usuario")
  %h4= t(:generate_source_code)
  %p
    = t(:generate_code_option)